.profile-container {
  display: flex;
  justify-content: center;
}

.example-card {
  max-width: 450px;
}

.example-header-image {
  background-size: cover;
  background-position: center center;
}

.list-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
