.profile-container {
  display: flex;
  justify-content: center;
}

.example-card {
  max-width: 450px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.list-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
