<div class="profile-container">
  <mat-card class="example-card">
    <mat-card-header style="display: flex; align-items: center">
      <div mat-card-avatar #avatar class="example-header-image"></div>
      <mat-card-title>{{userData.firstName}} {{userData.lastName}}</mat-card-title>
      <button mat-raised-button  [color]="file.files[0] ? 'primary': null " (click)="upload()">Upload</button>
      <button mat-raised-button (click)="chooseFile()" >Choose image...<input style="display: none" type="file" #file></button>
    </mat-card-header>
    <hr>
    <mat-card-content>
      <mat-list role="list">
        <mat-list-item role="listitem">Age: 24</mat-list-item>
        <mat-list-item role="listitem">Country: Ukraine</mat-list-item>
        <mat-list-item role="listitem">City: Kropivnitsky</mat-list-item>
        <mat-list-item role="listitem">Gender: Male</mat-list-item>
        <mat-list-item role="listitem">Hobbies: any</mat-list-item>
        <mat-list-item role="listitem">About me: hello)</mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>

    </mat-card-actions>
  </mat-card>
</div>

